body {
    font-family: 'Maven Pro', sans-serif;
    background:  #fff;
}

h1 {
    text-align: center;
}

.col {
    width:50%;
    float:left;
}

fieldset {
    border:1px solid  #e60000;
    border-radius: 5px;
    margin-bottom: 10px;
}

legend {
    background: #e60000;
    color:#fff;
    padding:3px 15px;
    border-radius: 5px;
    font-weight: bold;
}

#wrap {
    width: 820px;
    padding: 20px;
    margin: 20px auto;
    background:#fff;
    border:1px solid #e60000;;
    border-radius: 10px;
}

p {
    padding:2px;
}

label {
    display:inline-block;
    width:100px;
    font-weight:bold;
}

label:after {
    content: ":";
}

input {
    display:inline-block;
    width:200px;
    border:1px solid #e60000;;
    padding:5px;
    margin:0;
    border-radius: 5px;
}

thead  td {
    text-align:center;
    font-weight:bold;
}

td + td > input {
    width:50px;
}

button {
    border: 1px solid #000;;
    background:#ccc;
    border-radius: 5px;
    padding:10px;
    margin:10px;
    font-weight:bold;
    font-size:200%;
}

button:hover {
    background:#ececec;
    cursor: pointer;
}